/* ======================
    All Common Design start 
=========================*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}
body::after {
    content: "";
    display: block;
    height: -500px;
}

:root {
    --first-color: #492D26;
    --first-color-alt: #2B1712;
    --first-color-light: #65463E;
    --second-color: #DDB66F;
    --title-color: #2E2624;
    --text-color: #5B4C48;
    --text-color-light: #847571;
    --white-color: #FFFFFF;
    --body-color: #FFEFEB;
    --container-color: #FFFFFF;
    --biggest-font-size: "Pacifico", cursive;
    --normal-font-size: 400 16px "Poppins", sans-serif;
    --big-font-size: 48px/1.2 "Pacifico", regular;
    --h1-font-size: "Poppins", sans-serif;
    --h2-font-size: "Poppins", sans-serif;
    --h3-font-size: "Poppins", sans-serif;
    --small-font-size: "Poppins", sans-serif;
    --smaller-font-size: "Poppins", sans-serif;



}

.gradient_color {
    background: linear-gradient(to bottom, #4B2C24, #2B1712);
}


.container {
    width: 1120px;
    margin: 0 auto;


}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}


/* ======================
    All Common Design End 
=========================*/

/* ======================
    Nav Design Start 
=========================*/
nav {
    padding: 26px 0;
    position: relative;
}

.main_menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main_menu .logo {
    width: 107px;
}

.main_menu .logo img {
    width: 100%;
}

.main_menu .menu ul {
    display: flex;
    gap: 72px;
}

.main_menu .menu ul li a {
    color: var(--white-color);
    font-size: 16px;
    font-family: var(--biggest-font-size);
}

.main_menu .menu ul li:first-child a {
    color: var(--second-color);
}

nav::after {
    content: "";
    width: 100%;
    height: 2px;
    background-image: url(../Images/Header\ Line\ dashed.svg);
    position: absolute;
    background-size: cover;
    left: 0;
    bottom: 0;
    z-index: 1;

}



/* ======================
    Nav Design End
=========================*/

/* ======================
    Banner Style starts
=========================*/
#banner {
    padding-top: 64px;
    padding-bottom: 172px;
}

.banner_container {
    display: flex;
    align-items: center;
    gap: 72px;
}

.hero_img {
    width: 550px;
}

.hero_img img {
    width: 100%;
}

.hero_text {
    max-width: 447px;
    color: var(--white-color);
}

.hero_text h4 {
    color: var(--second-color);
    font-size: 16px;
    font-family: var(--normal-font-size);

}

.hero_text h1 {
    font-size: 72px;
    padding-top: 12px;
    padding-bottom: 20px;
    line-height: 1.2;
    position: relative;
    font-family: var(--biggest-font-size);

}

.hero_text h1::after {
    content: "";
    position: absolute;
    background-image: url(../Images/home-coffee-title\ 1.png);
    width: 120px;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    transform: translateY(-8%);
    -webkit-transform: translateY(-8%);
    -moz-transform: translateY(-8%);
    -ms-transform: translateY(-8%);
    -o-transform: translateY(-8%);
}

.hero_text p {
    max-width: 410px;
    font-size: 16px;
    padding-right: 50px;
    padding-bottom: 48px;
    font-family: var(--normal-font-size);
    padding-top: 10px;

}

.hero_text button {
    padding: 16px 28px;
    border-radius: 1000px;
    border-style: none;
    background-color: var(--second-color);
    transition: all linear 0.3s;

}

.hero_text button:hover {
    box-shadow: 0 8px 32px 0px rgba(221, 183, 112, 0.25);
    cursor: pointer;
}


/* ======================
   Banner style End
=========================*/



/* ======================
   Coffe Products style start
=========================*/

#coffe_products {
    background: var(--first-color);
    padding-top: 64px;
    padding-bottom: 172px;
    z-index: 2;
    border-radius: 104px 104px 0 0;
    margin-top: -104px; /* পূর্বে transform ব্যবহার হয়েছিল */
}

.products_container {
    display: flex;
    justify-content: space-between;
}

.products_container .dropdown_menu {
    max-width: 450px;

    color: var(--white-color);
}


.products_container .dropdown_menu p {
    padding-top: 32px;
    font-family: var(--normal-font-size);
}

.products_container .dropdown_menu .selectorr select {
    background-color: var(--first-color-alt);
    text-decoration: none;
    appearance: none;
    padding: 16px 28px;
    color: var(--white-color);
    border-style: none;
    border-radius: 1000px;
    position: relative;


}

.products_container .dropdown_menu .selectorr select:focus {
    outline: none;
}

.products_container .dropdown_menu .selectorr select:hover {
    box-shadow: 0 8px 24px 0 rgba(27, 17, 14, 0.500);
    cursor: pointer;
}

.products_img {
    display: flex;
}

.products_img p {
    text-align: center;
    color: var(--white-color);
    font-family: var(--biggest-font-size);
}

.products_container .dropdown_menu .selectorr i {
    position: absolute;
    cursor: pointer;
    transform: translate(-200%, 100%);


}


/* ======================
   Coffe Products style End
=========================*/


/* ======================
   Coffe History style Starts
=========================*/
#cofee_history {
    background: var(--white-color);
    padding-top: 64px;
    padding-bottom: 172px;
    z-index: 3;
    border-style: none;
    border-radius: 104px 104px 0 0;
    margin-top: -104px; /* সমান margin যাতে ধারাবাহিক হয় */
}


.container .history_container {
    display: flex;
    /* justify-content: center; */
    gap: 107px;
}

.history_container .history_text {
    max-width: 483px;
}

.history_container .history_text h2 {
    font: var(--big-font-size);
    padding-bottom: 24px;
    padding-top: 82px;
}

.history_container .history_text p {
    font: var(--normal-font-size);
    padding-bottom: 82px;
}




/* ======================
   Coffe History style Ends
=========================*/


/* ======================
   Coffe Steps style Starts
=========================*/
#Steps {
    background: url("../Images/bg-coffee-beans 1.svg") var(--first-color);
    z-index: 4;
    padding-top: 64px;
    padding-bottom: 172px;
    border-style: none;
    border-radius: 104px 104px 0 0;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -104px;
}


.steps_container .head h3 {
    text-align: center;
    font: var(--big-font-size);
    color: var(--white-color);
}

.steps_container .all_steps {
    display: flex;
    justify-content: space-between;



}

.shape_one,
.shape_three {
    background: var(--first-color-light);
    border-radius: 50%;
    width: 260px;
    height: 260px;
    position: relative;
    display: flex;
    flex-direction: column;




}

.shape_one img,
.shape_three img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.shape_two {
    background: var(--first-color-light);
    border-radius: 100%;
    padding: 55px 25px;
    position: relative;
    width: 260px;
    height: 260px;
}

.shape_description {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-top: 88px;
    text-align: left;
}

.shape_description_middle {
    padding-top: 218px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-bottom: 172px;
}


.shape_two img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.all_steps {
    font: var(--normal-font-size);
    color: var(--white-color);


}

.all_steps p {
    width: 272px;
}

.all_steps .small_shape {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background: var(--second-color);
    border: 15px solid var(--first-color);

    position: relative;
    z-index: 5;
}

.small_shape span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--first-color);
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 36px;

}

.small_shape {
    transform: translate(-20%, 100%);
}

.shape_description_middle .small_shape {
    transform: translate(-20%, 200%);
}

.steps_container .dashed_image {
    width: 650px;
    height: 650px;
    position: absolute;
    transform: translate(35%, 30%);
}





/* ======================
   Coffe Steps style ends
=========================*/

/* ======================
   Testomonial style starts
=========================*/

#cofee_testomonial {
    background: var(--white-color);
    padding-top: 64px;
    padding-bottom: 172px;
    z-index: 5;
    border-style: none;
    border-radius: 104px 104px 0 0;
    margin-top: -104px;
    width: 100%;
}


.testomonial_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.testomonial_text p {
    color: var(--title-color);
    font: var(--big-font-size);
    width: 538px;
}


/* ======================
   Testomonial style ends
=========================*/



/* ======================
   Footer style starts
=========================*/

footer {
    z-index: 6;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-style: none;
    border-radius: 104px 104px 0 0;
    margin-top: -104px;
    padding-top: 96px;
    padding-bottom: 48px;
}


.footer_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_text .footer_logo {
    width: 107px;
}

.footer_text .footer_logo img {
    width: 100%;

}

.footer_text h2 {
    padding-top: 24px;
    font: var(--big-font-size);
    font-size: 36px;
    line-height: 1.2;
    color: var(--white-color);
}

.footer_form {
    width: 360px;
}

.footer_container .footer_form form {

    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}

.footer_container .footer_form form input {
    height: 64px;
    border-radius: 1000px;
    padding: 19px 26px;
    background: transparent;
    border: 2px solid #847571;
    width: 100%;

}

.footer_container .footer_form form button {
    cursor: pointer;
    width: 100%;
    height: 64px;
    background: var(--second-color);
    border-radius: 1000px;
    border-style: none;
    padding: 20px auto;
    font: var(--h3-font-size);
}

.footer_container .footer_form p {
    padding-top: 24px;

    text-align: center;
    font: var(--normal-font-size);
    color: #fff;
    font-size: 14px;

}

.footer_container .footer_form p span {

    color: var(--second-color);

}

footer .icons ul {
    display: flex;
    gap: 48px;
    padding-top: 96px;
    padding-bottom: 64px;
    justify-content: center;
}

.icons p{
    color: #847571;
    font-size: 13px;
    font-family: 'Poppins';
    text-align: center;
}

/* ======================
   Footer style ends
=========================*/